%p#notice= notice
%h1.float-left Tours
.float-right= button_to 'Add new tour', new_track_path, class: 'btn btn-primary', method: :get
%br
%table.table
  %thead
    %tr
      %th Name
      %th City
      %th Checkpoints
      %th{:colspan => "3"}
  %tbody
    - @tracks.each do |track|
      %tr
        %td= track.name
        %td= track.city
        %td= track.check_points_count
        %td.action= link_to 'Checkpoints', track_check_points_path(track.id)
        %td.action= link_to 'Edit', edit_track_path(track)
        %td.action.warning= link_to 'Delete', track, method: :delete, data: { confirm: 'Are you sure?' }
