= form_with(model: animal, local: true) do |f|
  .form-group
    = f.label :name
    %p.error= animal.errors.full_messages_for(:name).first
    = f.text_field :name, autofocus: true, class: 'form-control'
  .form-group.mt-4
    = link_to 'Cancel', animals_path, class: 'btn btn-secondary float-left'
    = f.submit "#{animal.id.present? ? 'Update' : 'Add'}", class: 'btn btn-primary float-right'
    .clearfix
