%p#notice= notice
%h1.float-left Animal
.float-right= button_to 'Add new animal', new_animal_path, class: 'btn btn-primary', method: :get
.clearfix
%br
%table.table
  %thead
    %tr
      %th Name
      %th Questions
      %th{:colspan => "3"}
  %tbody
    - @animals.each do |animal|
      %tr
        %td= animal.name
        %td= animal.questions.count
        %td.action= link_to 'Questions', animal_questions_path(animal.id)
        %td.action= link_to 'Edit', edit_animal_path(animal)
        %td.action.warning= link_to 'Delete', animal, method: :delete, data: { confirm: 'Are you sure?' }
